
<h2>Giftr</h2>

<p>This application is used to track gifts between groups of friends, and to facilitate payments.</p>

<p>Please bother Sean if everything is broken.</p>

{{outlet}}
{{#link-to "index"}}Index{{/link-to}}
